<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title><%=title%></title>
    <%- include('partials/head.html') %>
</head>

<body>
    <%- include('partials/navigation.html') %>
    <h1 id="bearings-title" class="text-center m-5">BEARINGS</h1>
    <div class="m-5">
        <div class="container">
            <input class="form-control" id="I_Filter" type="text" placeholder="Search..">
        </div>
    </div>
    <div id="holder">
        <%- include('table.html') %>
    </div>
    <%- include('partials/footer.html') %>

    <script>
        $(document).ready(function () {
            var my_div = $("#holder");
            $("#I_Filter").on("keyup", function () {
                var filter = $(this).val().toLowerCase();
                $.ajax({
                    type: 'get',
                    url: `/api/table?filter=${filter}`
                }).done(function (data) {
                    $('#holder').html(data);
                });
            });
        });
    </script>
</body>

</html>