<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title><%=title%></title>
    <%- include('partials/head.html') %>
</head>

<body>
    <%- include('partials/navigation.html') %>

    <div class="container p-5">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="card animate__animated animate__zoomIn faster">
                    <div class="card-header bg-dark text-white text-center">
                        <h3>Contact Us</h3>
                    </div>
                    <div class="card-body text-center">
                        openbearing@protonmail.com
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/footer.html') %>
</body>

</html>