<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title><%=title%></title>

    <%- include('partials/head.html') %>
</head>

<body>
    <%- include('partials/navigation.html') %>
    <h1 class="text-center mt-5 font-weight-bold">Welcome to Open Bearing</h1>
    <div id="welcome-text" class="text-center m-5">
        <h3>Open Bearing is a free service for accessing bearing information.</h3>
        <h3>Being a totally free service pushed us to limit the amount of daily queries you can make.</h3>
        <h3>To get full access you can <a href="/contact">contact us</a> and ask for an Api Key.</h3>
    </div>
    <div class="text-center">
        <a class="btn btn-lg btn-dark" href="/bearings" role="button">Get Started</a>
    </div>

    <%- include('partials/footer.html') %>
</body>

</html>