<div id="bearing-table" class="container">
    <table class="table table-dark">
        <thead>
            <tr>
                <th>Manufacturer</th>
                <th>Bearing Code</th>
                <th>BPFI</th>
                <th>BPFO</th>
                <th>BSF</th>
                <th>FTF</th>
            </tr>
        </thead>
        <tbody>
            <% if (locals.bearings) { %>
            <% for (var i = 0; i < bearings.length; i++) { %>
            <tr>
                <td><%= bearings[i].manufacturer %></td>
                <td><%= bearings[i].code %></td>
                <td><%= bearings[i].bpfi %></td>
                <td><%= bearings[i].bpfo %></td>
                <td><%= bearings[i].bsf %></td>
                <td><%= bearings[i].ftf %></td>
            </tr>
            <% } %>
            <% } %>
        </tbody>
    </table>
</div>