body {
    font-family: 'Maven Pro', sans-serif;
    color: #343a40;
    background: #EFEFBB;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D4D3DD, #EFEFBB);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    min-height: 400px;
}

li.nav-item form{
    margin-top: 10px;
    margin-left: 6px;
}

@media (max-width: 512px) {
    #welcome-text h3 {
        font-size: 1.25rem;
    }
    #bearings-title {
        display: none;
    }
    #bearing-table {
      font-size: 9px;
    }
  }