<!--  FavIcon  -->
<link rel='icon' href='favicon.ico' type='image/x-icon'/ >

<!--  Bootstrap 4.5 -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<!--  Font Awesome  -->
<script src="https://kit.fontawesome.com/bebd1972f8.js" crossorigin="anonymous"></script>

<!--  Google Fonts  -->
<link href="https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap" rel="stylesheet">

<!--  Animate Css  -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />

<!--  Custom Css  -->
<link href="/css/main.css" rel="stylesheet">