<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Open Bearing</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item <% if (page === 'home') { %>active<% } %>">
                    <a class="nav-link" href="/"><i class="fas fa-home"></i> Home</a>
                </li>
                <li class="nav-item <% if (page === 'contact') { %>active<% } %>">
                    <a class="nav-link" href="/contact"><i class="fas fa-envelope"></i> Contact</a>
                </li>
                <li class="nav-item <% if (page === 'bearings') { %>active<% } %>">
                    <a class="nav-link" href="/bearings"><i class="fas fa-search"></i> Bearings</a>
                </li>
                <li class="nav-item">
                    <%- include('donations.html') %>
                </li>
            </ul>
        </div>
    </div>
</nav>